beautifulsoup4
black
click
cookiecutter
dash
datadog
firebase-admin>2.6.0
flake8
gensim
google-cloud-bigquery-storage
gspread
ipython
japanize-matplotlib
jupyter
matplotlib
mecab-python3
mojimoji
numpy
oauth2client
opencv-contrib-python
pandas
pandas-gbq==0.13.2
pyarrow
pybacklogpy
pykintone
pymongo[srv]
python-freee-api
pyyaml
scikit-learn
scipy
seaborn
selenium==3.141.0
simple_salesforce
sklearn
slacker
streamlit
tqdm
watchdog
webdriver-manager
wordcloud
zenpy
